.game-board {
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

.board-row {
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  padding: 2;
}

.peg {
  /*border: 1px solid #F00;*/
  background: #fff;
  border: 1px solid #999;
  float: none;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin-right: 4px;
}

.smallpeg {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  margin-right: 2px;
  margin-left: 2px;

}

.emptypeg {
  background: #fff;
}

.fullpeg {
  background: #0f0;
}

.startpeg {
  background: cornflowerblue;
  color: white;
  /*border: 1px solid #F00; */
}

.firstpeg {
  /* It looks better to not color this for now */
  /*color: white;*/
  /*border: 2px solid black;*/
}

.movestart {
  border: 2px solid blue;
}

.moveend {
  border: 2px solid red;
}

.validmove {
  border: 2px solid purple;
}
