
body {
  font: 14px "Century Gothic", sans-serif;
  margin: 20px;
}

.game_panel {
  width: 380px;
}

.status {
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}

.centered {
  text-align: center;
}

.with-margin {
  margin-bottom: 10px;
}

.with-bottom-margin-only {
  margin: 0px;
  margin-bottom: 5px;
}

.current-board {
  border: 1px solid cornflowerblue;
}

.history-board {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

.div-scroll {
  display:flex;
  flex-direction:row;
  overflow:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

